kind-block($this)
  position: utilus_retrieve($this.arguments, static, relative)

  if inline in $this.arguments
    display: inline-block
    vertical-align: utilus_retrieve($this.arguments, middle baseline bottom, top)
  else
    display: block
