.field
  kind: field 10px 20px
  background: #000

.small-field
  kind: field (__content '') (__left '') (__right '')
  background: #fff

.field-label
  kind: field__left 10px 20px
  background: #f00

.custom-field
  kind: field 1em (__content '&__inner') (__left '&__label') (__right '&__input')
