kind-clear($this)
  if !ie
    stylobate_defaults($this,
      -before (after in $this.arguments ? '' : '&:before'),
      -after (before in $this.arguments ? '' : '&:after'))

    deprecate($this.arguments, after)
    deprecate($this.arguments, before)

  zoom: 1

kind-clear-before()
  @extends $kind-clear-before

kind-clear-after()
  @extends $kind-clear-after

$kind-clear-before
  content: ""
  display: table

$kind-clear-after
  content: ""
  display: table
  clear: both
