kind-clear($this)
  if !ie
    stylobate_defaults($this, __before '&:before', __after '&:after')

  zoom: 1

kind-clear__before()
  +cache()
    content: ""
    display: table

kind-clear__after()
  +cache()
    content: ""
    display: table
    clear: both
