kind-clear($this)
  if !ie
    stylobate_defaults($this,
      __before ($this.params.after ? '' : '&:before'),
      __after ($this.params.before ? '' : '&:after'))

    deprecate($this.params, after)
    deprecate($this.params, before)

  zoom: 1

kind-clear__before()
  +cache()
    content: ""
    display: table

kind-clear__after()
  +cache()
    content: ""
    display: table
    clear: both
