kind-modal-wrap($this)
  kind-guide($this)
  kind-centering($this)

  z-index: 99

  unless no-elements in $this['params']
    unless no-helper in $this['params'] or '-helper' in $this['params']
      &:after
        kind-modal-wrap-helper($this)


kind-modal-wrap-helper($this)
  kind-centering-helper($this)

kind-modal($this)
  kind-guide-item($this)
  kind-centering-item($this)

  @extends $kind-modal

$kind-modal
  position: relative
  max-width: 100%
  max-height: 100%
  // use calc like this here?
  //   max-width: unquote("-webkit-calc(100% - " + 2*$l + ")")

  // Should it be moved to -content?
  // overflow: auto

kind-modal-overlay($this)
  kind-fill($this)
  kind-guide-item($this)
