kind-foo($this)
  width: $this.units[0] || 10px

kind-foo_()
  // Should have at least some prop content to work
  z: z if true == false

kind-foo_pseudo()
  border: 1px solid

kind-bar($this)
  height: $this.units[0] || 10px

kind-bar-subbar($this)
  background: $this.colors[0] || #000

  padding-left: $this.parent.units[0] || $this.units[0] || 10px

kind-bar__lol()
  height: 10px

kind-baz()
  kind-foo(arguments)
  kind-bar(arguments)

.foo
  kind: foo

.pseudo-foo
  kind: foo _pseudo

.foo_pseudo
  kind: foo_ _pseudo

.bar
  kind: bar (-subbar '&-subbar')

.foobar
  kind: foo, bar

.foobar2
  kind: foo 11px, bar

.foobar3
  kind: foo, bar 11px (-subbar '&-lol' red) (__lol '&:before')

.foobar4
  kind: foo 11px, bar 11px

.baz
  kind: baz

.baz2
  kind: baz 11px
