kind-icon()
  kind-block(inline utilus_retrieve(arguments, baseline top bottom, middle))

  margin-top: -4px // Or this should be in em?
  background: 50% no-repeat

  $size = utilus_get(arguments, 'size')

  if $size
    $width = $size[0]
    $height = $size[1]

    if replace-image in arguments
      width: 0
      height 0
      padding: 0 $width $height 0
      content: ""
    else
      width: $width
      height $height
