kind-input()
  kind-block(inline)

  box-sizing: border-box

  max-width: 100%
  width: utilus_alike(arguments, 400px)

  vertical-align: utilus_retrieve(arguments, middle top bottom, baseline)
  cursor: text

  unless no-reset in arguments
    reset('input')
