kind-button()
  kind-pill()

  cursor: pointer
  user-select: none
  vertical-align: utilus_retrieve(arguments, baseline top bottom, middle)

  // Should we replace it with `no-reset`?
  unless no-reset in arguments
    reset('button')
