kind-input()
  kind-block(inline)

  -moz-box-sizing: border-box
  box-sizing: border-box

  max-width: 100%
  width: alike(arguments, 400px)

  vertical-align: retrieve(arguments, middle top bottom, baseline)
  cursor: text

  unless no-reset in arguments
    reset('input')
