kind-clear()
  if !ie
    unless after in arguments
      &:before
        @extends $kind-clear-before

    unless before in arguments
      &:after
        @extends $kind-clear-after

  zoom: 1

$kind-clear-before
  content: ""
  display: table

$kind-clear-after
  content: ""
  display: table
  clear: both
