kind-field()
  kind-input(no-reset)

  unless no-elements in arguments
    &-content
      kind-field-content()

    &-left
      kind-field-left(arguments)

    &-right
      kind-field-right(arguments)

kind-field-content()
  kind-block(static)

  overflow: hidden

  height: 100%

kind-field-left()
  position: relative
  z-index: 9
  float: left
  $sides = get_sides(arguments)
  unless no-margin in arguments
    margin: -1*$sides[0] -1*$sides[1] -1*$sides[2] -1*$sides[3]
    margin-right: 0

  unless no-padding in arguments
    padding: $sides

kind-field-right()
  position: relative
  z-index: 9
  float: right

  $sides = get_sides(arguments)
  unless no-margin in arguments
    Margin: -1*$sides[0] -1*$sides[1] -1*$sides[2] -1*$sides[3]
    margin-left: 0

  unless no-padding in arguments
    padding: $sides
