kind-foo($this)
  width: utilus_alike($this.arguments, 10px)

kind-foo_()
  // Should have at least some prop content to work
  z: z if true == false

kind-foo_pseudo()
  border: 1px solid

kind-bar($this)
  height: utilus_alike($this.arguments, 10px)

kind-bar-subbar($this)
  background: utilus_alike($this.arguments, #000)

  padding-left: utilus_alike(utilus_get($this.arguments, parent), 10px)

kind-bar__lol()
  pseudo-with-content()

  height: 10px

kind-baz($this)
  kind-foo($this)
  kind-bar($this)

.foo
  kind: foo

.pseudo-foo
  kind: foo _pseudo

.foo_pseudo
  kind: foo_ _pseudo

.bar
  kind: bar (-subbar '&-subbar')

.foobar
  kind: foo, bar

.foobar2
  kind: foo 11px, bar

.foobar3
  kind: foo, bar 11px (-subbar '&-lol' red) (__lol '&:before')

.foobar4
  kind: foo 11px, bar 11px

.baz
  kind: baz

.baz2
  kind: baz 11px
