$skin_namespace ?= ''

set-skin-namespace($what)
  $what = $what + '-' if $what != ''
  utilus_reassign($skin_namespace, $what)

reset-skin-namespace()
  utilus_reassign($skin_namespace, '')

skin()
  stylobate_property('skin-' + $skin_namespace[0], arguments)

global_skin()
  stylobate_property('skin-', arguments)


// Wrappers for common params

_reset()
  param-wrapper(arguments)

_type()
  param-wrapper(arguments)

_size()
  param-wrapper(arguments)

_inline()
  param-wrapper(arguments)

_hover()
  param-wrapper(arguments)

_pseudo()
  param-wrapper(arguments)

_underline()
  param-wrapper(arguments)

_gap()
  param-wrapper(arguments)


__text()
  param-wrapper(arguments)

__helper()
  param-wrapper(arguments)

__content()
  param-wrapper(arguments)

__left()
  param-wrapper(arguments)

__right()
  param-wrapper(arguments)

__before()
  param-wrapper(arguments)

__after()
  param-wrapper(arguments)

__item()
  param-wrapper(arguments)

__nested()
  param-wrapper(arguments)

__input()
  param-wrapper(arguments)

__inner()
  param-wrapper(arguments)

__focus()
  param-wrapper(arguments)

__start()
  param-wrapper(arguments)

__end()
  param-wrapper(arguments)

__middle()
  param-wrapper(arguments)

__wrap()
  param-wrapper(arguments)

__wrap__helper()
  param-wrapper(arguments)

__overlay()
  param-wrapper(arguments)
