.something:before,
.margin-collapsed:before,
.clear-with-helper:before {
  content: "";
  display: table;
}
.something:after,
.just-clear-those-floats:after,
.clear-with-helper__helper {
  content: "";
  display: table;
  clear: both;
}
