@import "../../index"

.guides
  kind: guide

.guides2
  kind: guide fixed

.guides3
  kind: guide 1em fixed

.visible-guides
  kind: guide visible

.guides-item
  kind: guide-item

.visible-guides-item
  kind: guide-item visible

