.field,
.small-field,
.custom-field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 100%;
  cursor: text;
  vertical-align: baseline;
}
.field-content,
.custom-field__inner {
  position: static;
  display: block;
  overflow: hidden;
  height: 100%;
}
.field-left,
.field-label,
.custom-field__label {
  position: relative;
  z-index: 9;
  float: left;
}
.field-right,
.custom-field__input {
  position: relative;
  z-index: 9;
  float: right;
}
.field {
  width: 400px;
  background: #000;
}
.field-left {
  margin: -10px 0 -10px -20px;
  padding: 10px 20px 10px 20px;
}
.field-right {
  margin: -10px -20px -10px 0;
  padding: 10px 20px 10px 20px;
}
.small-field {
  width: 400px;
  background: #fff;
}
.field-label {
  margin: -10px 0 -10px -20px;
  padding: 10px 20px 10px 20px;
  background: #f00;
}
.custom-field {
  width: 400px;
}
.custom-field__label {
  margin: -1em 0 -1em -1em;
  padding: 1em 1em 1em 1em;
}
.custom-field__input {
  margin: -1em -1em -1em 0;
  padding: 1em 1em 1em 1em;
}
