@import "../../index"

.field
  kind: field 10px 20px
  background: #000

.small-field
  kind: field no-elements
  background: #fff

.field-label
  kind: field-left 10px 20px
  background: #f00

.custom-field
  kind: field 1em (-content '&__inner') (-left '&__label') (-right '&__input')
