.item {
  position: relative;
  display: block;
}
.item_static {
  position: static;
  display: block;
}
.list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.list-item_bottom {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
