.abook-entry {
  padding-right: 20em;
  white-space: nowrap;
}
.abook-entry-name {
  width: 40%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abook-entry > .abook-entry-checkbox {
  width: 6em;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abook-entry > .abook-entry-userpic {
  width: 3em;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abook-entry-email {
  width: 20%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abook-entry-phone {
  width: 20%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abook-entry-label, .abook-entry-compose {
  width: 20%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
