kind-button($this)
  @extends $kind-button

  $align = utilus_retrieve($this.params, middle top bottom)
  vertical-align: $align if $align

  unless $this.params.no-reset
    reset('button')

$kind-button
  // Should be a less-style `use` of $kind-pill
  kind(pill)

  cursor: pointer
  user-select: none
  vertical-align: baseline
