@import "utilus.styl/utilus"
@import "if-ie.styl/if-ie"

// Here should go all config variables
// HERE

// Global reset function
@import "_details/detail-reset"

// rem mixin, use as `2*rem`
@import "_details/detail-rem"

// Gradient for handier gradient backgrounds
@import "_details/detail-gradient"

// `kind` mixin, to apply kinds CSS-way
@import "_details/detail-kind"
// `skin` mixin, to apply skins CSS-way
@import "_details/detail-skin"

// Clearfix kind
@import "_kinds/kind-clear"

// Kind for simple blocks
@import "_kinds/kind-block"

// Kind for hiding things
@import "_kinds/kind-hidden"

// Kind for centering things
@import "_kinds/kind-centering"

// Kind for pill-like block and button
@import "_kinds/kind-pill"
@import "_kinds/kind-button"

// Kind for filling something with block or guiding others
@import "_kinds/kind-fill"
@import "_kinds/kind-guide"

// Kind for modal dialogs, like popups
@import "_kinds/kind-modal"

// Kind for shrinking content
@import "_kinds/kind-shrink"

// Kind for grouping content
@import "_kinds/kind-group"
