@import "node_modules/utilus.styl/utilus"
@import "node_modules/if-ie.styl/if-ie"

// Version checker
@import "_details/check-stylobate-version/detail-check-stylobate-version"

// Main thing: stylobate function
@import "_details/detail-stylobate"

// Parent getters
@import "_details/detail-parent-getters"

// This or parent getters
@import "_details/detail-any-getters"

// Global reset function
@import "_details/detail-reset"

// rem mixin, use as `2*rem`
@import "_details/detail-rem"

// Gradient for handier gradient backgrounds
@import "_details/detail-gradient"

// `kind` mixin, to apply kinds CSS-way
@import "_details/detail-kind"
// `skin` mixin, to apply skins CSS-way
@import "_details/detail-skin"

// Clearfix kind
@import "_kinds/kind-clear"

// Kind for simple blocks
@import "_kinds/kind-block"

// Kind for links
@import "_kinds/kind-link"

// Kind for icony-type things
@import "_kinds/kind-icon"

// Kind for hiding things
@import "_kinds/kind-hidden"

// Kind for pill-like block and button
@import "_kinds/kind-pill"
@import "_kinds/kind-button"

// Kind for centering things
@import "_kinds/kind-centering"

// Kind for filling something with block or guiding others
@import "_kinds/kind-fill"
@import "_kinds/kind-guide"

// Kind for modal dialogs, like popups
@import "_kinds/kind-modal"

// Kind for shrinking content
@import "_kinds/kind-shrink"

// Kind for grouping content
@import "_kinds/kind-group"

// Kind for inputs
@import "_kinds/kind-input"

// Kind for file inputs
@import "_kinds/kind-file-input"

// Kind for file input intruder
@import "_kinds/kind-file-intruder"

// Kind for complex fields
@import "_kinds/kind-field"

// Kind for lists
@import "_kinds/kind-list"

// Kind for grids
@import "_kinds/kind-grid"

// Kind for content
@import "_kinds/kind-content"

// Proto Kind for vc
@import "_kinds/kind-view-controller"
