kind-input($this)
  @extends $kind-input

  width: $this.units[0] or 400px

  $align = utilus_retrieve($this.arguments, middle top bottom)
  vertical-align: $align if $align

  unless no-reset in $this.arguments
    reset('input')
    // It would be nice to have a way to insert it without extends

$kind-input
  kind(block inline)

  box-sizing: border-box

  max-width: 100%

  cursor: text

  if ie
    vertical-align: middle
  else
    vertical-align: baseline
