kind-field($this)
  kind(input, no-reset)

  unless no-elements in $this.params
    unless '-content' in $this.params
      &-content
        kind-field-content()

    unless '-left' in $this.params
      &-left
        kind-field-left(arguments)

    unless '-right' in $this.params
      &-right
        kind-field-right(arguments)

kind-field-content()
  @extends $kind-field-content

$kind-field-content
  kind(block static)

  overflow: hidden

  height: 100%

kind-field-left($this)
  @extends $kind-field-left

  $sides = any_get_sides($this)
  unless no-margin in $this.params
    margin: -1*$sides[0] 0 -1*$sides[2] -1*$sides[3]

  unless no-padding in $this.params
    padding: $sides

$kind-field-left
  position: relative
  z-index: 9
  float: left

kind-field-right($this)
  @extends $kind-field-right

  $sides = any_get_sides($this)
  unless no-margin in $this.params
    margin: -1*$sides[0] -1*$sides[1] -1*$sides[2] 0

  unless no-padding in $this.params
    padding: $sides

$kind-field-right
  position: relative
  z-index: 9
  float: right
