optional-element($this, $element, $complex_selector = '')
  $selector = $element in $this.elements ? $this.elements[$element] : ''

  if $selector
    $selector = '/' + replace('&', $this.parent.selector, $selector)

  rules()
    {block}

  rules() unless $selector
  {$selector}
    {$complex_selector}
      rules() if $selector
