stylobate_defaults('kind-list',
  '_reset',
  '_align' baseline
  )

kind-list($this)
  position: relative
  display: block
  display: flex
  flex-wrap: wrap


kind-list__item($this)
  if 'reset' in $this.modifiers
    reset('li')

  position: relative
  display: inline-block
  flex-shrink: 0

  if 'align' in $this.modifiers
    vertical-align: $this.modifiers.align


kind-list_nowrap($this)
  white-space: nowrap
  flex-wrap: nowrap


kind-list_justified($this)
  justify-content: space-between
  text-align: justify


kind-list_align($this)
  $align = $this.idents[0] || 'baseline'
  if $align == 'baseline'
    align-items: baseline


kind-list_reset($this)
  reset('ul')
