pattern-guide()
  pattern-fill(arguments) // Should we really need it here, or should we add something extra for trbl?
  visibility: hidden

pattern-guide__item()
  visibility: visible
  // Should we add anything here, or just use it as a semantic helper?
