kind-hidden()
  $type = utilus_get_ident(arguments)

  if $type == 'visually'
    +cache()
      position: absolute !important
      clip: rect(1px,1px,1px,1px) !important
  else
    display: none !important
