kind-hidden($this)
  $type = utilus_get_ident($this.arguments)

  if $type == 'visually'
    @extends $kind-hidden-visually
  else
    display: none !important

$kind-hidden-visually
  position: absolute !important
  clip: rect(1px,1px,1px,1px) !important
