kind-guide($this)
  if visible in $this.arguments
    pointer-events: none
  else
    visibility: hidden

stylobate_extends('kind-guide', 'kind-fill')

kind-guide-item($this)
  if visible in $this.arguments or visible in utilus_get($this.arguments, parent)
    pointer-events: auto
  else
    visibility: visible
