kind-content($this)
  $sides = utilus_get_sides($this.units)
  if ie or ('' + $sides == '0 0 0 0')
    padding: $sides
  else
    padding: 0 $sides[1] 0 $sides[3]

    unless $this.params.no-elements
      unless $this.params['-before']
        if $this.params.no-before
          padding-top: $sides[0]
        else
          &:before
            kind-content-before($this)

      unless $this.params['-after']
        if $this.params.no-after
          padding-top: $sides[2]
        else
          &:after
            kind-content-after($this)

kind-content-before($this)
  content: ""
  display: table

  $par = $this.parent
  if $par
    $par = $par.units
  $sides = utilus_get_sides($this.units) || utilus_get_sides($par)

  margin-bottom: $sides[0]

kind-content-after($this)
  content: ""
  display: table
  clear: both

  $par = $this.parent
  if $par
    $par = $par.units
  $sides = utilus_get_sides($this.units) || utilus_get_sides($par)

  margin-top: $sides[2]
