.file-input,
.file-input-for-button {
  position: relative;

  display: inline-block;
  overflow: hidden;

  vertical-align: top;
}

.file-input-controller,
.file-input-for-button-controller {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;

  min-width: 100%;
  padding: 0;
  margin: 0;

  cursor: pointer;

  font-size: 500px;

  opacity: 0;
}

.file-input-for-button {
  padding: 6px;
  margin: -6px;
}

