kind-foo($this)
  width: 10px

  height: utilus_get_color($this.parent.arguments, 10px)

kind-foo-bar($this)
  height: 10px
  padding-left: utilus_alike($this.parent.arguments, 10px)

  if utilus_get_color($this.parent.arguments)
    color: utilus_get_color($this.parent.arguments)

.foo
  kind: foo (-bar '&-bar')

.foo2
  kind: foo 30px #FFF (-bar '&-bar')
