kind-foo($this)
  width: 10px

  height: parent_get_color($this.arguments, 10px)

kind-foo-bar($this)
  height: 10px
  padding-left: parent_alike($this.arguments, 10px)

  if parent_get_color($this.arguments)
    color: parent_get_color($this.arguments)

.foo
  kind: foo (-bar '&-bar')

.foo2
  kind: foo 30px #FFF (-bar '&-bar')
