pattern-fill($offset = 0)
  position: absolute  unless @position
  top: $offset        unless @top
  right: $offset      unless @right
  bottom: $offset     unless @bottom
  left: $offset       unless @left
