kind-clear($this)
  if !ie
    unless $this.params.after or $this.params['-before']
      &:before
        kind-clear-before()
    unless $this.params.before or $this.params['-after']
      &:after
        kind-clear-after()

  zoom: 1

kind-clear-before()
  @extends $kind-clear-before

kind-clear-after()
  @extends $kind-clear-after

$kind-clear-before
  content: ""
  display: table

$kind-clear-after
  content: ""
  display: table
  clear: both
