.grid
  kind: shrink-wrap

.grid-content
  kind: shrink

.grid-right
  kind: shrink-right


.shrinker
  kind: shrink-wrap inline

  &__content
    kind: shrink inline

  &__left
    kind: shrink-left

  &__right
    kind: shrink-right

