kind-disabled()
  $with-events = with-events in arguments
  $opacity = utilus_alike(arguments, 0.5)
  +cache('kind-disabled' + $with-events + $opacity)
    cursor: default !important

    opacity: $opacity

    // Prevent different states in most browsers
    unless $with-events
      pointer-events: none

  +cache('kind-disabled-focus')
    &:focus
      outline: 0

  stylobate_defaults(arguments, -nested '& &')

kind-disabled-nested()
  +cache('kind-disabled-nested')
    opacity: 1
