kind-guide($this)
  kind-fill($this)

  if visible in $this.params
    pointer-events: none
  else
    visibility: hidden

kind-guide-item($this)
  if visible in $this.params
    // It would be super cool to be able to somehow get this from the parental `guide`
    pointer-events: auto
  else
    visibility: visible
