kind-input($this)
  @extends $kind-input

  width: $this.units[0] || 400px

  $align = utilus_retrieve($this.params, middle top bottom)
  vertical-align: $align if $align

  unless no-reset in $this.params
    reset('input')
    // It would be nice to have a way to insert it without extends

$kind-input
  kind(block inline)

  box-sizing: border-box

  max-width: 100%

  cursor: text
  vertical-align: baseline
