kind-field()
  kind-input(no-reset)

  unless no-elements in arguments
    unless utilus_get(arguments, '-content')
      &-content
        kind-field-content()

    unless utilus_get(arguments, '-left')
      &-left
        kind-field-left(arguments)

    unless utilus_get(arguments, '-right')
      &-right
        kind-field-right(arguments)

kind-field-content()
  +cache('kind-field-content')
    kind-block(static)

    overflow: hidden

    height: 100%

kind-field-left()
  +cache('kind-field-left')
    position: relative
    z-index: 9
    float: left

  $sides = any_get_sides(arguments)
  unless no-margin in arguments
    margin: -1*$sides[0] 0 -1*$sides[2] -1*$sides[3]

  unless no-padding in arguments
    padding: $sides

kind-field-right()
  +cache('kind-field-right')
    position: relative
    z-index: 9
    float: right

  $sides = any_get_sides(arguments)
  unless no-margin in arguments
    margin: -1*$sides[0] -1*$sides[1] -1*$sides[2] 0

  unless no-padding in arguments
    padding: $sides
