kind-field($this)
  kind(input no-reset)

  unless no-elements in $this.arguments
    unless utilus_get($this.arguments, '-content')
      &-content
        kind-field-content()

    unless utilus_get($this.arguments, '-left')
      &-left
        kind-field-left($this)

    unless utilus_get($this.arguments, '-right')
      &-right
        kind-field-right($this)

kind-field-content()
  @extends $kind-field-content

$kind-field-content
  kind(block static)

  overflow: hidden

  height: 100%

kind-field-left($this)
  @extends $kind-field-left

  $sides = any_get_sides($this)
  unless no-margin in $this.arguments
    margin: -1*$sides[0] 0 -1*$sides[2] -1*$sides[3]

  unless no-padding in $this.arguments
    padding: $sides

$kind-field-left
  position: relative
  z-index: 9
  float: left

kind-field-right($this)
  @extends $kind-field-right

  $sides = any_get_sides($this)
  unless no-margin in $this.arguments
    margin: -1*$sides[0] -1*$sides[1] -1*$sides[2] 0

  unless no-padding in $this.arguments
    padding: $sides

$kind-field-right
  position: relative
  z-index: 9
  float: right
