kind-button($this)
  +cache()
    kind-pill()

    box-sizing: border-box

    cursor: pointer
    user-select: none
    vertical-align: baseline

  $align = utilus_retrieve($this.arguments, middle top bottom)
  vertical-align: $align if $align

  unless no-reset in $this.arguments
    reset('button')
