kind-button($this)
  stylobate_defaults($this, '_reset')

  kind-pill()

  box-sizing: border-box

  cursor: pointer
  user-select: none
  vertical-align: baseline

kind-button_reset($this)
  reset('button')
