_stylobate($name, $params)
  $subparams = utilus_remove_first($params)
  {$name + $params[0]}($subparams)

  for $subitem in $subparams
    // There shouldn't be an `if` inside a {$selector}, 'cause
    // there is a crazy stylus bug. When it would be fixed,
    // revert this version to 669082fb35
    $selector = ''
    $foundsubitem = ''
    if is_array($subitem)
      if type($subitem[0]) in ('ident' 'string')
        if match('^(\-|_)', $subitem[0])
          $foundsubitem = $subitem
          if type($subitem[1]) == 'string'
	    if match('&', $subitem[1])
	      $selector = $subitem[1]
	    else
	      $foundsubitem = ''
    else
      if type($subitem) in ('ident' 'string')
        if match('^(\-|_)', $subitem)
          $foundsubitem = $subitem

    call_subitem()
      $subitemparams = remove_first(remove_first($foundsubitem))
      push($subitemparams, (parent $subparams))
      {$name + replace('[_-]+$', '', $params[0]) + $foundsubitem[0]}($subitemparams)

    {$selector}
      content: "" if match(':(after|before)', $selector)
      call_subitem() if $foundsubitem != '' and $selector != ''

    if $selector == '' and $foundsubitem != ''
      call_subitem()

stylobate($name, $params)
  if utilus_is_comma_list($params)
    for $item in $params
      _stylobate($name, $item)
  else
    _stylobate($name, $params)
