_kind()
  $subarguments = utilus_remove_first(arguments)
  kind-{arguments[0]}($subarguments)

  for $subkind in $subarguments
    if is_array($subkind)
      if match('^(\-|__)', $subkind[0])
        if type($subkind[1]) == 'string'
          {$subkind[1]}
            $subkindarguments = remove_first(remove_first($subkind))
            push($subkindarguments, (parent $subarguments))
            kind-{arguments[0] + $subkind[0]}($subkindarguments)

kind()
  if utilus_is_comma_list(arguments)
    for $kind in arguments
      _kind($kind)
  else
    _kind(arguments)
