$skin_namespace ?= ''

set-skin-namespace($what)
  $what = $what + '-' if $what != ''
  reassign($skin_namespace, $what)

reset-skin-namespace()
  reassign($skin_namespace, '')

_skin()
  skin-{$skin_namespace + arguments[0]}(remove_first(arguments))

skin()
  if is_comma_list(arguments)
    for $skin in arguments
      _skin($skin)
  else
    _skin(arguments)
