$skin_namespace ?= ''

set-skin-namespace($what)
  $what = $what + '-' if $what != ''
  utilus_reassign($skin_namespace, $what)

reset-skin-namespace()
  utilus_reassign($skin_namespace, '')

_skin()
  skin-{$skin_namespace + arguments[0]}(utilus_remove_first(arguments))

skin()
  if utilus_is_comma_list(arguments)
    for $skin in arguments
      _skin($skin)
  else
    _skin(arguments)
