kind-group()
  @extends $kind-group

$kind-group
  kind(block inline)
  white-space: nowrap

kind-group-item($this)
  unless no-radius in $this['params']
    &:first-child:not(:only-child)
      kind-group-start($this)

    &:not(:first-child):not(:last-child)
      kind-group-middle($this)

    &:last-child:not(:only-child)
      kind-group-end($this)

kind-group-start($this)
  {$this.strings[0]}
    @extends $kind-group-start

$kind-group-start
  unless ie
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important

kind-group-end($this)
  unless no-margin in $this['params']
    @extends $kind-group-margin

  {$this.strings[0]}
    @extends $kind-group-end

$kind-group-end
  unless ie
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important

$kind-group-margin
  margin-left: -1px

kind-group-middle($this)
  unless no-margin in $this['params']
    @extends $kind-group-margin

  $selector = $this.strings[0]
  if $selector != ''
    {$selector}
      border-radius: 0 !important
  else
    border-radius: 0 !important
