// Clearfix
if !ie
  .clearfix
    &:before,
    &:after
      content: " "
      display: table
else
  // We need `zoom:1` only on clearfix,
  // so it won’t extend things
  {'.clearfix /* don’t extend me */'}
    zoom:1

// Shortcut
//   Use this insted of manually extending `.clearfix`,
//   it would be more optimal for the file size
clearfix()
  zoom: 1
  @extend .clearfix
