// Clearfix
.clearfix
  if !ie
    &:before,
    &:after
      content: " "
      display: table

    &:after
      clear: both

if ie
  // We need `zoom:1` only on clearfix,
  // so it won’t extend things.
  // Comment is there so it won't be extended.
  {'.clearfix /**/'}
    zoom:1

// Shortcut
//   Use this insted of manually extending `.clearfix`,
//   it would be more optimal for the file size.
clearfix()
  @extend .clearfix
  zoom: 1
