// Setting the grid unit
//   Can be used as `2*gu` — almost like normal units, but with asteriks.
gu = 28px

// Shortcuts to the common grid units
$large  = $l  = gu * 2
$small  = $s  = gu * 0.5
$medium = $m  = gu
