// Setting the spacing unit
//   Can be used as `2*su` — almost like normal units, but with asteriks.
su = 28px

// Shortcuts to the common spacing units
$large  = $l  = su * 2
$small  = $s  = su * 0.5
$medium = $m  = su
