kind-icon($this)
  @extends $kind-icon
  kind-icon_($this)

  if replace-image in $this.arguments
    @extends $kind-icon-replaced

kind-icon_($this)
  $size = utilus_get($this.arguments, 'size')
  $size = $size $size if $size and length($size) == 1
  $image = $this.strings[0]
  $align = utilus_retrieve($this.arguments, baseline top bottom)

  if !$size and $image and !(sizeless in $this.arguments)
    $size = image-size($image, true)

  if $align
    vertical-align: $align

  if $size
    $width = $size[0]
    $height = $size[1]

    if replace-image in $this.arguments
      padding: 0 $width $height 0
    else
      width: $width
      height $height

  if $image
    background-image: url($image)


// Base styles for all icons
$kind-icon
  kind(block inline middle)

  margin-top: -0.2em // http://dabblet.com/gist/6185672

  background: 50% no-repeat

// Base styles for replaced icons (on `<img/>`)
$kind-icon-replaced
  content: ""

  width: 0
  height 0
