kind-fill($this)
  position: utilus_retrieve($this['params'], fixed static sticky, absolute)

  $sides = utilus_get_sides($this['units'])
  top: $sides[0] unless $this.params.bottom
  right: $sides[1] unless $this.params.left
  bottom: $sides[2] unless $this.params.top
  left: $sides[3] unless $this.params.right

  $bg = $this.strings[0]
  $bg_color = $this.colors[0]
  $params = $this.params
  if $bg
    $bg_color = unquote('') unless $bg_color
    background: $bg_color url($bg) utilus_retrieve($params, repeat repeat-x repeat-y , no-repeat) 50%
    // How to add bgposition here?
  else if $bg_color
    background: $bg_color

