.clearfix /**/ {
  zoom: 1;
}
.isle {
  padding: 28px;
  zoom: 1;
}
.isle_s {
  padding: 14px;
}
.isle_l {
  padding: 56px;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
body {
  position: relative;
  z-index: 1;
  min-width: 30em;
  height: 100%;
  padding: 0 2.75em;
  margin: 0;
  font: 100%/1.375 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
body:before,
body:after {
  content: "";
  display: table;
}
.section {
  position: relative;
  width: 37em;
  max-width: 100%;
  margin: 0 auto;
}
.link {
  cursor: pointer;
  color: #0c56ff;
}
.link:hover {
  color: #f00;
}
.link_wrapper {
  display: inline;
  zoom: 1;
  white-space: nowrap;
/* Would be a class for multiline links */
  text-decoration: none;
}
.link_wrapper .ico {
  margin-top: -4px;
  vertical-align: middle;
}
.link__inner {
  line-height: 1.1;
  text-decoration: underline;
}
.link_pseudo,
.link_pseudo.link_wrapper .link__inner {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link_pseudo.link_wrapper {
  border-bottom: 0;
}
.link_text {
  color: inherit;
}
.copy {
  font-size: 0.875em;
  line-height: 1.6em;
  color: rgba(0,0,0,0.5);
}
.copy .link_text:not(:hover)>.link__inner {
  text-decoration: none;
}
.text .link {
  padding: 0.2em 0;
}
.text p,
.text ul,
.text ol,
.text dl,
.text blockquote,
.text hr,
.text code,
.text pre,
.text table {
  padding: 0;
  margin: 0 0 1.375em;
}
.text li,
.text li > p {
  padding: 0;
  margin: 0 0 0.6875em;
}
.text H1,
.text H2,
.text H3,
.text H4,
.text H5,
.text H6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.text H1 {
  padding: 0.2em 0;
  font-size: 3.4375em;
  line-height: 1.2em;
}
.text H2 {
  margin: 0 0 0.55em;
  font-size: 2.5em;
  line-height: 1.1em;
}
.text H3 {
  margin: 0 0 0.6875em;
  font-size: 2em;
  line-height: 1.375em;
}
.text H4,
.text H5,
.text H6 {
  margin: 0 0 1.1em;
  font-size: 1.25em;
  line-height: 1.1em;
}
.fork {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.fork > .link {
  display: block;
  padding: 10px 40px;
  margin: 2em 0 0 -3em;
  font: bold 16px/1 Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #fedbd9;
}
.fork > .link:hover {
  background: #f40b00;
}
