.abook-entry
  kind: grid ellipsis ('gutter' 3em) \
    ('gap' 0) \
    (-col '&-name' 40%) \
    ('gap' 1em) \
    (-col '& > .abook-entry-checkbox' 6em) \
    ('gap' 1em) \
    (-col '& > .abook-entry-userpic' 3em) \
    (-col '&-email') \
    (-col '&-phone') \
    (-col '&-label, &-compose')
