.grid-content {
  display: block;
  overflow: hidden;
}
.grid-right {
  float: right;
}
.shrinker {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
@-moz-document url-prefix() { .shrinker {
  display: inline-flex;
  flex-direction: row-reverse;
}
}
.shrinker__content {
  display: block;
  overflow: hidden;
}
@-moz-document url-prefix() { .shrinker__content {
  flex-shrink: 1000000000;
}
}
.shrinker__right {
  float: right;
}
