@import "../../index"

.paranja
  kind: fill

.button:before
  content: ""
  kind: fill -1px

.frame
  kind: fill fixed

.frame_inner
  kind: fill fixed 1em

.sidey
  kind: fill 1em 0

.triple
  kind: fill 1em 0 2em

.fourey
  kind: fill 1em 0 2em 3em

.toppy
  kind: fill top 1em
