.button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  -moz-appearance: none;
}
.button::-moz-focus-inner {
  padding: 0;
  border: none;
}
