.radiogroup {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.radiogroup__item:first-child,
.radiogroup > .complex-button:first-child > .complex-button-inner, .radiogroup > .complex-button:first-child > .complex-button-inner:before {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.radiogroup__item:last-child,
.radiogroup > .complex-button:last-child > .complex-button-inner, .radiogroup > .complex-button:last-child > .complex-button-inner:before {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.radiogroup__item:not(:first-child):not(:last-child),
.radiogroup__item:last-child,
.radiogroup > .complex-button:not(:first-child):not(:last-child),
.radiogroup > .complex-button:last-child {
  margin-left: -1px;
}
.radiogroup__item:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
}
.radiogroup > .complex-button:not(:first-child):not(:last-child) > .complex-button-inner, .radiogroup > .complex-button:not(:first-child):not(:last-child) > .complex-button-inner:before {
  border-radius: 0 !important;
}
