.button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
}
.button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}
