@import "../../index"

kind-foo()
  width: utilus_alike(arguments, 10px)

kind-bar()
  height: utilus_alike(arguments, 10px)

kind-bar-subbar()
  background: utilus_alike(arguments, #000)

  padding-left: utilus_alike(utilus_get(arguments, parent), 10px)

kind-bar__lol()
  content: ""

kind-baz()
  kind-foo(arguments)
  kind-bar(arguments)

.foo
  kind: foo

.bar
  kind: bar (-subbar '&-subbar')

.foobar
  kind: foo, bar

.foobar2
  kind: foo 11px, bar

.foobar3
  kind: foo, bar 11px (-subbar '&-lol' red) (__lol '&:before')

.foobar4
  kind: foo 11px, bar 11px

.baz
  kind: baz

.baz2
  kind: baz 11px
