.input,
.input-controller,
.small-input {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: inherit;
}
.input:focus,
.input-controller:focus,
.small-input:focus {
  outline: none;
}
.input,
.input-controller,
.small-input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 100%;
  cursor: text;
  vertical-align: baseline;
}
.input {
  width: 400px;
}
.input-controller {
  width: 400px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.small-input {
  width: 400px;
  vertical-align: bottom;
  font-size: 10px;
}
