@import "../../index"

.popup-wrap
  kind: modal-wrap fixed

.popup
  kind: modal

.overlay
  kind: modal-overlay fixed

.local-overlay
  kind: modal-overlay

.apupup
  kind: modal-wrap no-elements

.apupup__helper
  kind: modal-wrap-helper
