.btn {
  padding: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
}
.btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
button {
  padding: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: none;
}
ol,article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.list {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


