.popup-wrap:after,
.apupup__helper {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.popup {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
.popup {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.popup-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  white-space: nowrap;
  text-align: center;
  z-index: 99;
}
.popup {
  visibility: visible;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
}
.local-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
}
.apupup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  white-space: nowrap;
  text-align: center;
  z-index: 99;
}
