.limey {
  background: #0f0;
}
.whitey {
  color: #fff;
}
.whitey-subbar {
  background: #000;
  padding-left: 10px;
}
.mergey {
  background: #0f0;
  color: #fff;
}
.oneparamey {
  background: #0f0;
  width: 10px;
  overflow: hidden;
  color: #fff;
  height: 10px;
}
.lolly {
  background: #f00;
  content: "OLOLO";
}
.limey-namespacey {
  background: #0f0;
}
.multiparamey {
  background: #0f0;
  width: 10px;
  color: #fff;
  height: 10px;
}
.multiparamey-lol {
  background: #f00;
  padding-left: 10px;
}
.multiparamey:before {
  content: "";
  width: 10px;
}
.the-base {
  width: 10px;
}
.the-base:hover > .the-base-subitem {
  background: #0f0;
}
.the-base-subitem {
  height: 20px;
}
.the-extended {
  width: 10px;
  padding: 30px;
}
.the-extended:hover > .the-base-subitem {
  background: #f00;
}
body .pysh {
  width: 10px;
}
body a.pysh.lol {
  height: 10px;
}
body input:checked + .pysh {
  width: 20px;
}
