// @import "../../index"

// .grid-four
//   kind: grid (gutter 10px) (-col '&-left' 10em) (-col '&-item') ('count' 4)

// .grid-auto
//   kind: grid (gutter 10px) (-col '&-left' 10em) (-col '&-middle') (-col '&-right')

// .grid-counless
//   kind: grid (gutter 10px) (-col '&-left' 10em) (-col '&-item') (-content '&-item-content')
