@import "../../index"

skin-foo()
  background: lime
  if baz in arguments
    width: 10px

skin-bar()
  color: #FFF
  if baz in arguments
    height: 10px

skin-bar-subbar()
  background: utilus_alike(arguments, #000)

  padding-left: utilus_alike(utilus_get(arguments, parent), 10px)

skin-bar__lol()
  width: 10px

skin-lol-foo()
  background: red
  content: "OLOLO"


.limey
  skin: foo

.whitey
  skin: bar (-subbar '&-subbar')

.mergey
  skin: foo, bar

.oneparamey
  skin: foo baz
  overflow: hidden
  skin: bar baz

set-skin-namespace('lol')

.lolly
  skin: foo

.limey-namespacey
  global_skin: foo

set-skin-namespace('')

.multiparamey
  skin: foo baz, bar baz (-subbar '&-lol' red) (__lol '&:before')


skin-base()
  width: 10px
  &:hover > {utilus_get_string(utilus_get(arguments, '-subitem'))}
    if called_from(arguments, skin-base)
      background: lime
    else
      background: red

skin-base-subitem()
  height: 20px

stylobate_extends('skin-extended', 'skin-base')

skin-extended()
  padding: 30px

.the-base
  skin: base (-subitem '&-subitem')

.the-extended
  skin: extended (-subitem '.the-base-subitem')

skin-contextual()
  width: 10px

skin-contextual_checked()
  width: 20px

skin-contextual-link()
  height: 10px

.pysh
  skin: contextual (context 'body &') (-link 'a&.lol') (_checked 'input:checked + &')
