.centerer {
  white-space: nowrap;
  text-align: center;
}
.centerer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.centerer-content {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
