@import "../../index"

.ico
  kind: icon

.ico-sized
  kind: icon (size 10px 20px)

.ico-replaced
  kind: icon replace-image (size 10px 20px)

.ico-with-image
  kind: icon (size 10px 20px) 'lol.png'

.ico-auto-image-size
  kind: icon 'test_kind-icon.png'
