@import "../../index"

.popup-wrap
  kind: modal-wrap fixed

.popup
  kind: modal

.paranja
  kind: modal-paranja fixed

.local-paranja
  kind: modal-paranja

.apupup
  kind: modal-wrap no-elements

.apupup__helper
  kind: modal-wrap-helper
