skin-foo($this)
  background: lime
  if baz in $this.arguments
    width: 10px

skin-bar($this)
  color: #FFF
  if baz in $this.arguments
    height: 10px

skin-bar-subbar($this)
  background: utilus_alike($this.arguments, #000)

  padding-left: utilus_alike(utilus_get($this.arguments, parent), 10px)

skin-bar__lol()
  pseudo-with-content()

  width: 10px

skin-lol-foo()
  background: red
  content: "OLOLO"


.limey
  skin: foo

.whitey
  skin: bar (-subbar '&-subbar')

.mergey
  skin: foo, bar

.oneparamey
  skin: foo baz
  overflow: hidden
  skin: bar baz

set-skin-namespace('lol')

.lolly
  skin: foo

.limey-namespacey
  global_skin: foo

set-skin-namespace('')

.multiparamey
  skin: foo baz, bar baz (-subbar '&-lol' red) (__lol '&:before')


skin-base($this)
  width: 10px
  &:hover > {utilus_get_string(utilus_get($this.arguments, '-subitem'))}
    if not $this.is_extended
      background: lime
    else
      background: red

  stylobate_defaults($this, -subitem '&-defitem', _supermod)

skin-base_supermod()
  position: absolute

skin-base-subitem($this)
  height: 20px

  // stylobate_defaults(arguments, -subitem-subsub) — works
  stylobate_defaults($this, -subsub)

skin-base-subitem-subsub()
  text-align: justify

skin-base_mod()
  overflow: hidden

stylobate_extends('skin-extended', 'skin-base')

skin-extended()
  padding: 30px

skin-extended-subitem()
  padding: 90px

stylobate_extends('skin-extended2', 'skin-base')

skin-extended2-subitem()
  padding: 190px

skin-extended2-newsub()
  margin: 190px

.the-base
  skin: base _mod (-subitem '&-subitem')

.the-base_modified
  skin: base_ (-subitem '&-subitem')

.the-extended
  skin: extended (-subitem '.the-base-subitem') (-subitem '&-subitem') (_supermod '&+&')

.the-extended2
  skin: extended2 (-subitem '&-subitem') (-newsub '&-newsub')

.the-extended2_modified
  skin: extended2_ (-subitem '&-subitem') _mod

skin-contextual()
  width: 10px

skin-contextual_checked()
  width: 20px

skin-contextual-link()
  height: 10px

.pysh
  skin: contextual (context 'body &') (-link 'a&.lol') (_checked 'input:checked + &')

stylobate_extends('skin-superlink', 'kind-link', false)

skin-superlink($this)
  color: #FFF

  stylobate_new_defaults($this, _hover '&.is-hovered')

skin-superlink_hover()
  color: #000

$normal-link
  kind: link (_underline '&-inner')

.superlink
  skin: superlink (_underline '&-inner')

stylobate_extends(skin-disabled, kind-disabled, false)

skin-disabled()
  opacity: 0.75

.extended-disabled
  skin: disabled
