.grid
  kind: shrink__wrap

.grid-content
  kind: shrink

.grid-right
  kind: shrink__right


.shrinker
  kind: shrink__wrap inline

  &__content
    kind: shrink inline

  &__left
    kind: shrink__left

  &__right
    kind: shrink__right

// example from http://dabblet.com/gist/5817557
.shrinker1
  kind: shrink__wrap inline

  &__left
    kind: shrink inline, ellipsis

  &__right
    kind: shrink__right
