.foo {
  width: 10px;
  height: 10px;
}

.foo-bar {
  height: 10px;
  padding-left: 10px;
}

.foo2 {
  width: 10px;
  height: 10px;
}

.foo2-bar {
  height: 10px;
  padding-left: 30px;

  color: #FFF;
}

