.ico,
.ico-sized,
.ico-single,
.ico-replaced,
.ico-with-image,
.ico-auto-image-size,
.ico-image-sizeless {
  position: relative;

  display: inline-block;

  margin-top: -0.2em;

  vertical-align: middle;

  background: 50% no-repeat;
}

.ico-replaced {
  content: "";

  width: 0;
  height: 0;
}

.ico-sized {
  width: 10px;
  height: 20px;
}

.ico-single {
  width: 16px;
  height: 16px;
}

.ico-replaced {
  padding: 0 10px 20px 0;
}

.ico-with-image {
  width: 10px;
  height: 20px;

  background-image: url("lol.png");
}

.ico-auto-image-size {
  width: 19px;
  height: 19px;
}

.ico-auto-image-size,
.ico-image-sizeless,
.ico_modifying {
  background-image: url("test_kind-icon.png");
}

.ico_modifying {
  width: 19px;
  height: 19px;
}

.ico-replaced_16px {
  padding: 0 16px 16px 0;
}

